@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #d0ab7a !important;
}

.vertical-center {
    min-height: calc(100% - 172px);
    min-height: calc(100vh - 172px);

    display: flex;
    align-items: center;
}

.page-container {
    margin-top: 71px;
    min-height: calc(100vh - 172px);
}

@media (max-width: 768px) {
    .vertical-center {
        min-height: calc(100% - 108px);
        min-height: calc(100vh - 108px);
    }

    .page-container {
        margin-top: 109px;
        min-height: calc(100vh - 108px);
    }
}


.form-checkBox{
    width: max-content;
    margin: auto;
}

/*.form-check-input:valid {
    box-shadow:0 0 0 0rem #d5552d !important;
    background-color:  #3d190d !important;
  }*/


/*Navbar style*/
#title {
    color: white;
    font-size: x-large;
}

#nav {
    background-color: #78451a;
}

/* Buttons styles*/

#btnColor {
    background-color: #632815;
    border-color: #632815;
    color: white;
}

#btnColor:hover {
    background-color: #d5552d;
    border-color: #d5552d;
    color: white;
}

.card-title {
    margin-bottom: 0px !important;
}

@media (max-width: 800px) {
    #title {
        font-size: larger;
    }
}

/* Planner task section*/

.tasksNotAdded {
    color: #d5552d;
}

.tasksCompleated {
    color: #632815;
}

.h2 {
    margin-top: 0px;
    margin: 0px;
    padding-bottom: 8px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

